@import 'assets/scss/variables.scss';

.cart__main{
    &--table {
      display: -webkit-box;
      display: flex;
      flex-wrap: wrap;
      margin: 0.5em 0 0 0;
      padding: 0;
      position: relative;
      top: 3px;
      left: 3px;
      border-bottom: 1px solid rgba(0,0,0,0.1);
      align-content: flex-start;

      &--cols > .cart__main--cell {
        align-self: flex-start;
        text-align: right;
        &:nth-child(1) {
          width: 40%;
          text-align: left;
          order: 0;
        }

        &:nth-child(2) {
          width: 15%;
          order: 1;
        }

        &:nth-child(3) {
          width: 22.5%;
          order: 2;
        }
        
        &:nth-child(4) {
          width: 22.5%;
          order: 3;
        }
      }
  }

  &--cell {
    box-sizing: border-box;
    -webkit-box-flex: 1;
    flex-grow: 1;
    width: 100%;
    padding: 0.8em 1.2em;
    overflow: hidden;
    list-style: none;
    border: solid 3px white;
    background: rgba(112, 128, 144, 0.2);
    background-color: white;
    text-align: left;
    align-self: stretch !important;

    img , label {
      margin-left: 10px;
    }

    &--head {
      display: flex;
    }

    &--item h6 {
      display: none;
      text-transform: uppercase;
    }
  }
  
  &--heading, &--footer {
    .cart__main--cell {
      padding: 0  1.2em;
    }
  }

  &--heading, &--footer {
      h5 {
        text-transform: uppercase;
        color: $base-primary-color;
        margin: 1em 0;
      }
  }

  &--footer {
    border-bottom: 0;
    h6 {
      display: none;
      text-transform: uppercase;
      color: $base-primary-color;
      margin: 1em 0;
    }
  }
}

.cart__image {
  height: 80px;
  width: 80px;
}

.no-result {
  text-align: center;
}
.cart--item-detail + .cart--item-detail {
  margin-top: 0;

}
.cart-checkout__main {
  margin: 1em auto;
}
@media all and (max-width: 768px) {
    .cart__main--table--collapse {
      display: block;
    }
    .cart__main--cell--item h6 {
      display: inline-block;
      width: 100px;
      margin: 0 auto;

    }
    .cart__main--heading {
      display: none;
    }
    .cart__main--footer {
      
      h6 {
        display: block;
      }
      .cart__main--cell {
        &:not(:nth-child(4)) {
          display: none;
        }
      }
    }
    .cart__main--table--collapse > .cart__main--cell {
      width: 100% !important;
      text-align: left;

      &:nth-child(4) {
        text-align: right;

        h6 {
          float: left;
          text-align: left;
        }
      }
    }
}
