.cart__main{
    &--table {
      display: -webkit-box;
      display: flex;
      flex-wrap: wrap;
      margin: 0 0 1em 0;
      padding: 0;
      position: relative;
      top: 3px;
      left: 3px;
      border-bottom: 1px solid #aaa;

      &--cols > .cart__main--cell {

        text-align: right;
        &:nth-child(1) {
          width: 40%;
          text-align: left;
        }

        &:nth-child(2) {
          width: 15%;
        }

        &:nth-child(3) {
          width: 22.5%;
        }
        
        &:nth-child(4) {
          width: 22.5%;
        }
      }
    }

    &--cell {
      box-sizing: border-box;
      -webkit-box-flex: 1;
      flex-grow: 1;
      width: 100%;
      padding: 0.8em 1.2em;
      overflow: hidden;
      list-style: none;
      border: solid 3px white;
      background: rgba(112, 128, 144, 0.2);
      background-color: white;
      text-align: left;
    }
}

@media all and (max-width: 768px) {
    .cart__main--table--collapse {
      display: block;
    }

    .cart__main--table--collapse > .cart__main--cell {
      width: 100% !important;
      text-align: left;

      &:nth-child(4) {
        text-align: right;
      }
    }
}