.step__main {
    display: flex;
    align-items: center;
}

.step__button {
    outline: 0;
    width: 30px;
    padding: 5px 10px;
    border: 2px solid #eee;
    text-align: center;
}

.step__button:hover {
    border: 2px solid #FEE715;
    background-color: #FEE715;
    cursor: pointer;
}
.step__input {
    padding: 5px 10px;
    outline: 0;
    border: 1px solid #eee;
    width: 60px;
    font-size: 15px;
    text-align: center;
}
.step__button--minus {
    border-radius: 5px 0 0 5px;
}

.step__button--plus {
    border-radius: 0 5px 5px 0;
    
}

.step__total {
    padding-left: 10px;
}