.item{

    &__main {
        width: 17%;
        border: 1px solid #aaa;
        border-radius: 5px;
        padding: 5px;
        margin: 5px;
        height: 250px;
        max-height: 250px;
        word-break: break-all;
        white-space: nowrap;

        &:hover {
            border: 1px solid #FEE715;
            cursor: pointer;
        }
    }

    &__image {
        height: 150px;

        img {
            width: 100%;
            height: auto;
            height: inherit;
            background-clip: content-box;
            background-size: cover;
        }
    }

    &__body {

        &--title,
        &--extra {
            padding: .625rem;
            overflow: hidden;
            line-height: 1.125rem;
        }

        &--holder {
            line-height: 18px;
            text-overflow: ellipsis;
            overflow: hidden;
        }

        &--price {
            &::before {
                content: '₱'
            }
        }
    }
}
