.result {
    &__main {
        padding: 10px;
        display: flex;
    }
}

@media only screen and (max-width: 600px) {
    .result {
        &__main {
            flex-wrap: wrap;
        }
    }
}