@import 'assets/scss/variables.scss';

.rating {
    display: inline;
}
.item {
    color: $base-primary-color;

    &--active{
        color: $highlight-primary-color;
    }
    
    &--big {
        font-size: 30px;
    }
}