@mixin base__button_prop {
    padding: 15px 25px;
    text-transform: uppercase;
    border: 0;
    outline: 0;
    cursor: pointer;
    font-weight: bold;
    border-radius: 5px;
    margin: 10px 0;
    font-family: 'Roboto', sans-serif;
}

.base__button {
    @include base__button_prop;
    background: $highlight-primary-color;
    color: $base-primary-color;
    border: 2px solid $highlight-primary-color;

    &:hover {
        background: $highlight-secondary-color;
        border: 2px solid $highlight-secondary-color;
    }

    &--inverted {
        @include base__button_prop;
        background: transparent;
        border: 2px solid $highlight-primary-color;
        color: $highlight-primary-color;

        &--danger {
            @include base__button_prop;
            background: transparent;
            border: 2px solid $red-accent-color;
            color: $red-accent-color;

            &:hover {
                background: $red-accent-color;
                border: 2px solid $red-accent-color;
                color: #FFF;
            }
        }

        &:hover {
            background: $highlight-primary-color;
            border: 2px solid $highlight-primary-color;
            color: #FFF;
        }
    }

    &--sm {
        @include base__button_prop;
        padding: 5px;
    }
}

.btn--sm {
    padding: 2px 5px !important;
    border: 2px solid transparent;
    font-size: 11px;
}

.base__badge {
    padding: 1px 8px;
    background: $highlight-primary-color;
    border-radius: 50px;
    font-size: 13px;
    color: $base-primary-color;
    font-weight: bold;
}

.base__title {
    color: $base-primary-color;
    margin-bottom: 0.1em;
}