.toolbar{
    &__nav {
        height: 20px;
        padding: 5px;
        background: #A0A0A0;
    }
    &__ul {
        padding-left: 0;
        list-style-type: none;
        margin: 0;
        float: right;

        li {
            padding: 0 10px;
            border-bottom: 2px olid transparent;
            display: inline;

            a {
                text-decoration: none;
                color: #FFF;
                text-transform: uppercase;
            }
        }
    }

    &__logo {
        float: left;

        a {
            text-decoration: none;
        }
    }
}