.search-itemlist{
    &__main {
        width: 100%;
        text-align: left;
        padding: 10px;
    }

    &__group {
        display: flex;
        flex-wrap: wrap;
    }
}

@media only screen and (max-width: 768px) {
    .search-itemlist {
        &__main {
            width: 100%;
        }
    }
}
