.search {
    background: #444857;
    height: 70px;
}

.search__div {
    margin: 0 auto;
    width: 50%;
    display: inline-flex;
    flex-wrap: nowrap;
    padding: 10px;
}

.search__input {
    border: 0;
    outline: none;
    flex-grow: 4;
    font-size: 20px;
    font-weight: bold;
    text-transform: uppercase;
    border-radius: 5px 0 0 5px;
    padding: 10px;
}

.search__submit {
    border: 0;
    flex-grow: 1;
    outline: none;
    background: #FEE715;
    color: #444857;
    padding: 10px;
    border-radius: 0 5px 5px 0;
    font-weight: bold;
    cursor: pointer;
}