.search {
    background: #444857;
    height: 70px;

    &__div {
        margin: 0 auto;
        width: 50%;
        display: inline-flex;
        flex-wrap: nowrap;
        padding: 10px;
        box-sizing: border-box;
    }

    &__input {
        border: 0;
        outline: none;
        flex-grow: 4;
        font-size: 20px;
        font-weight: bold;
        text-transform: uppercase;
        border-radius: 5px 0 0 5px;
        padding: 10px;
    }

    &__submit {
        border: 0;
        flex-grow: 1;
        outline: none;
        background: #FEE715;
        color: #444857;
        padding: 10px;
        border-radius: 0 5px 5px 0;
        font-weight: bold;
        cursor: pointer;
    }
}


@media (max-width: 500px) {

    .search__div {
        width: auto;
    }
    .search__input {
        width: 80%;
    }
}

@media (min-width:501px) and (max-width: 768px) {
    .search__div {
        width: 70%;
    }
}